
<div class="row text-center">
    <div class="col-md-6 offset-sm-3">
        <h1 class="text-info">You've reached the end of the Internet.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>